* {
    margin: 0;
    font-family: 'Albert Sans', sans-serif;
    --color1: #F5EDDC;
    --color2: #d2d2cf;
    --color3: #a6b4b8;
    --color4: #EB1D36;
}

/* BODY */

body {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content 1fr;
}

/* SIDEBAR */

.sidebar {
    padding: 50px 50px 50px 50px;
    background-color: var(--color4);
    grid-area: 1 / 1 / 4 / 2;
    color: white;
}

.sidebar-content {
    height: 60%;
    display: grid;
    gap: 60px;
    align-items: start;
}

.sidebar-logo-wrapper, .option-wrapper {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    gap: 30px;
    transition: 0.25s;
}

.dashboard-main-text {
    font-size: 24px;
    font-weight: 600;
}

.sidebar-options-wrapper {
    display: grid;
}

.option-wrapper {
    padding: 10px 0 10px 0;
    border-radius: 10px;
}

.option-wrapper:hover {
    background-color: rgba(0, 0, 0, 0.144);
    padding-left: 20px;
    cursor: pointer;
}

/* TOP HEADER */

.header-top {
    background-color: var(--color3);
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: white;
}

.header-top-content {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.user-profile-picture-one {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
}

.first-half {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-self: start;
}

.search-field {
    width: 450px;
    justify-self: start;
    margin: none;
    border-radius: 20px;
    height: 25px;
    padding: 10px;
    border: none;
}

.search-field:focus {
    outline: none;
}

.second-half {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-self: end;
}

.user-name-one {
    justify-self: start;
    font-weight: 600;
    font-size: 18px;
    margin-left: 10px;
}

.notifications-icon, .search-icon {
    padding: 8px;
    margin-right: 10px;
    border-radius: 50%;
    transition: 0.2s;
}

.notifications-icon:hover, .search-icon:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

/* BOTTOM HEADER */

.header-bottom {
    background-color: var(--color2);
    grid-area: 2 / 2 / 3 / 3;
    padding: 15px;
    display: flex;
    justify-content: center;
    color: rgba(61, 61, 61, 0.856);
}

.header-bottom-content {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.user-profile-picture-two {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
}

.user-name-two {
    font-weight: 600;
    font-size: 24px;
}

button {
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    margin-left: 20px;
    transition: 0.3s;
    border: none;
}

button:hover {
    cursor: pointer;
    box-shadow: 3px 3px rgb(168, 55, 55);
    background-color: var(--color4);
    color:white;
}

/* MAIN AREA */

.main-area {
    background-color: var(--color1);
    padding: 50px;
    grid-area: 3 / 2 / 4 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr;
}

.projects-desc {
    grid-column: 1;
    justify-self: start;
    font-size: 28px;
    font-weight: 600;
}

.card-area {
    margin-top: 10px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
}

.main-card {
    background-color: var(--color2);
    border-radius: 10px;
    height: 200px;
    display: grid;
    grid-template-rows: 8fr 1fr;
    padding: 20px;
    border-left: 8px solid var(--color3);
    box-shadow: 5px 5px 5px 0 var(--color3);
    transition: 0.3s;
}

.main-card:hover {
    background-color: var(--color3);
    border-left: 8px solid var(--color2);
}

.card-text-wrapper {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.card-main-text {
    font-weight: 600;
    font-size: 24px;
}

.card-subtext {
    line-height: 20px;
}

.card-icon-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 2%;
}

.announcements-desc {
    grid-column: 2;
    justify-self: start;
    font-size: 28px;
    font-weight: 600;
}

.side-card-area {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    padding-top: 10px;
}

.trending-desc {
    align-self: end;
    margin-top: 50px;
    padding-bottom: 10px;
    font-size: 28px;
    font-weight: 600;
}

.announcement-card, .trending-card {
    width: 90%;
    height: 310px;
    background-color: var(--color2);
    border-left: 8px solid var(--color3);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 5%;
    box-shadow: 5px 5px 5px 0 var(--color3);
}

.announcement-card {
    grid-template-rows: repeat(2, 1fr 2px) 1fr;
    align-items: center;
}

.announcement-text {
    font-size: 14px;
}

.announcement-main-text {
    font-size: 18px;
    font-weight: 600;
}


hr {
    width: 80%;
    justify-self: center;
    border: 1px solid var(--color3);
}

.trending {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: min-content 1fr;
    gap: 20px;
}

.trending-picture {
    height: 80px;
    width: 80px;
    background-color: white;
    border-radius: 50%;
    grid-row-start: 1;
    grid-row-end: 3;
}

.trending-handle {
    font-size: 18px;
    grid-row: 1;
    align-self: center;
}

.trending-subtext {
    grid-row: 2;
    align-self: center;
}